@import url('https://fonts.googleapis.com/css?family=Asap:400,700');

.palette {
    color: /* reds */
    #FFEBEE
    #FFCDD2
    #EF9A9A
    #E57373
    #EF5350
    #F44336
    #E53935
    #D32F2F
    #C62828
    #B71C1C;
    color: /* greys */
    #FAFAFA
    #F5F5F5
    #EEEEEE
    #E0E0E0
    #BDBDBD
    #9E9E9E
    #757575
    #616161
    #424242
    #212121;
}

html, body {
    font-family: 'Asap', sans-serif;
    font-size: 13px;
    margin: 0; padding: 0;
    height: 100%; width: 100%;
    scroll-behavior: smooth;
    background-color: #FAFAFA;
}

a, button {
    outline: none;
}


/* Intro banner */

.intro {
    margin: auto;
    height: 100%; width: 100%;
    background: url('../images/header.jpg');
    background-size: cover;
    display: table; top: 0;
    z-index: 1;
}

    .intro-inner {
        display: table-cell;
        vertical-align: middle;
        width: 100%; max-width: 100%;
    }

    .intro-content {
        width: auto;
        text-align: center;
    }

    .intro-content span.intro-h1 h1 {
        margin: auto;
        width: 280px;
        padding: 15px;
        background-color: #FAFAFA;
        color: #212121;
        font-size: 2em;
        font-weight: 700;
        letter-spacing: -0.05em;
    }

        a.intro-btn {
            color: #212121;
            font-weight: 700;
            letter-spacing: -0.05em;
            text-decoration: none;
            padding: 5px;
            border-bottom: 3px solid transparent;
            transition: 0.3s;
        }

            a.intro-btn:hover {
                border-bottom: 3px solid #B71C1C;
            }


/* Main content */

.main-content {
    margin: 0; padding: 0;
    width: 100%;
}

    .main-intro {
        margin-top: 20px;
        text-align: center;
    }
    .main-intro h2 {
        font-size: 2em; font-weight: 900;
        text-transform: uppercase;
    }

    .main-body {
        width: 100%;
        margin-top: 30px;
        font-size: 1.2em;
    }

    .box {
        width: 100%;
        padding-bottom: 50px;
    }

    .main-body-left {text-align: right; margin-right: 45%; padding-left: 50px; width: 45%;}
    .main-body-right {margin-left: 55%; padding-right: 50px; width: 45%;}
    .main-body-mid {margin: auto; text-align: center; width: 45%;}

        img.main-img {
            margin-bottom: 20px !important;
            max-width: 100%;
        }

        .main-body-left > img.main-img {
            max-width: 60%;
        }
        .main-body-right > img.main-img {
            max-width: 60%;
        }


/* Image Grid */

.grid, .grid-container {
    margin-top: 50px;
    font-size: 0;
    width: 100%;
}

    .grid-row {
        display: block;
    }

        .grid-row img {
            max-width: 20%;
            margin: 0; padding: 0;
            transform: rotate(90deg);
        }


/* Support */

.support {
    margin-top: 30px;
    text-align: center;
}

    .support-text {
        font-size: 1.2em;
    }

    .support-btn {
        margin-top: 20px;
    }

    a.support-tweet {
        background-color: #B71C1C;
        border-radius: none;
        text-decoration: none;
        font-size: 0.9em;
        font-weight: 700;
        color: #FAFAFA;
        padding: 6px 8px 6px 8px;
        border: 2px solid #B71C1C;
        transition: 0.3s;
    }

        .support-tweet > i {
            margin-right: 5px;
        }

        a.support-tweet:hover {
            background-color: #FAFAFA;
            color: #B71C1C;
        }


/* Footer */

.footer {
    bottom: 0; display: table;
    width: 100%; height: 30%;
    padding: 30px;
    margin-top: 50px;
    background-color: #E0E0E0;
}

    .footer-content {
        bottom: 0;
    }

    .footer-notes {
        color: #616161;
        font-size: 0.9em;
        margin-bottom: 20px;
    }

    
    .footer-links {
        margin-top: 20px;
    }
    

        .footer-links ul {
            list-style: none;
            margin-left: -10px;
        }

            .footer-links li {
                margin-bottom: 10px;
            }

                .footer-links li:last-child {
                    margin-bottom: 0;
                }

        .footer-links a {
            padding: 2px;
            text-transform: uppercase;
            text-decoration: none;
            color: #212121;
            border-bottom: 3px solid transparent;
            transition: 0.3s;
        }

            .footer-links a:hover {
                border-bottom: 3px solid #B71C1C;
            }


.divider {
    border-bottom: 6px solid #B71C1C;
    width: 10%; margin: auto;
    padding-top: 50px;
}


@media screen and (max-width: 800px) {
    .intro {
        height: 60%;
        margin: 0; padding: 0;
    }

    .main-content {
        padding: 0; margin: 0;
        max-width: 100%;
    }

    .box {
        margin: 0; padding: 0;
        width: 100%;
    }

    .main-body-left, .main-body-mid, .main-body-right {
        margin: 0 !important;
        max-width: 100%;
        text-align: center !important;
        padding-bottom: 40px !important;
    }

    .main-body-left, .main-body-mid, .main-body-right img {
        padding: 0;
        max-width: 90%;
        margin: 0 !important;
    }
}